@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Yogesh Verma</h2>
    <p>A01074571</p>

    <p>I would like to work as Software Developer and use modern technologies such as React, Redux, GraphQL etc</p>
</div>
